@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  color: #ffffff;
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
}

.page-footer {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #444444;
}

.page-footer a {
  color: #ffffff;
}

.footer-logo {
  display: block;
  padding-top: 62px;
  margin-bottom: 35px;
}

.header-logo {
  margin-bottom: 30px;
  display: block;
}

.search-form-wrapper {
  margin-right: 26px;
  width: 520px;
}

.user-navigation-wrapper {
  display: flex;
}

.user-navigation-row {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.navigation-list.cart-navigation {
  justify-content: flex-end;
  max-width: 240px;
}

.main-navigation-wrapper {
  display: flex;
  width: 1040px;
  margin: 0 auto;
}

.catalog-expand-button-container {
  width: 294px;
}

.main-navigation-links-wrapper {
  margin: auto 0;
  margin-left: auto;
}

.navigation-list,
.goods-categories-list,
.social-network-list,
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.social-network-list {
  margin: 0 auto;
  justify-content: center;
}

.user-navigation {
  flex-grow: 1;
}

.drop-down-link {
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-weight: 400;
}

/* слайдер */

.goods-tagline {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.goods-feature-item {
  font-size: 16px;
}

.goods-feature-metric {
  font-size: 36px;
  color: #000000;
}

/* Меню */
.user-navigation-link {
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
}

.navigation-item:not(:last-child) .user-navigation-link {
  padding-right: 36px;
}

.navigation-list.main-navigation {
  justify-content: flex-end;
}

.catalog-expand-button-container .button {
  padding: 15px 0;
}

.main-navigation .button {
  padding: 14px 0;
  padding-left: 45px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.page-footer-sections-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

/* футер */
.footer-contacts-address-section {
  width: 240px;
  margin-right: auto;
}

.footer-contacts-section {
  width: 175px;
  margin-left: auto;
}

.contacts-address-text {
  margin: 0;
}

.footer-navigation-item .button {
  padding: 10px;
}

.footer-navigation-item:not(:last-child) .button {
  margin-right: 5px;
}

.footer-navigation {
  margin-bottom: 62px;
}

.footer-tel-contact,
.htmlacademy-link {
  display: block;
}

.footer-tel-contact {
  margin-bottom: 62px;
}

.htmlacademy-link img {
  display: block;
  margin-left: auto;
}

/* Кнопки */
.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
}

.social-button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: lawngreen;
}

.social-item:not(:last-child) .social-button {
  margin-right: 15px;
}

.strikeout-button {
  text-decoration: line-through;
  text-decoration-color: #ffe17f;
}

.contacts-address {
  font-style: normal;
}

.main-services-section,
.newsletter {
  color: #444444;
  background-color: #f0f0f0;
}

.services {
  margin-bottom: 70px;
}

.main-services-section {
  margin-bottom: 70px;
}

.catalog-subsections.centering-wrap {
  margin-bottom: 177px;
}

/* Подкатегории каталога товаров */
.subsection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.subsection-item {
  flex-shrink: 0;
  width: 160px;
  min-height: 245px;
  margin-right: 40px;
}

.subsection-item:hover .catalog-subsection-title::before,
.subsection-item:focus .catalog-subsection-title::before {
  background-color: rgba(240, 197, 46, 1);
}

.subsection-item:active .catalog-subsection-title::after {
  opacity: 0.3;
}

.subsection-item:active .catalog-subsection-title {
  color: rgba(0, 0, 0, 0.3);
}

.subsection-item:nth-child(6n) {
  margin-right: 0;
}

.subsection-item-link {
  position: relative;

  min-height: 245px;
  width: 160px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.catalog-subsection-title {
  position: relative;

  margin: 0;
  padding-top: 195px;

  font: inherit;
}

.catalog-subsection-title::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center center;
}


.virtual-reality .catalog-subsection-title::before {
  background-image: url("../images/advantages/virtual.svg");
}

.monopods .catalog-subsection-title::before {
  background-image: url("../images/advantages/monopods.svg");
  background-position: bottom center;
}

.camera .catalog-subsection-title::before {
  background-image: url("../images/advantages/camera.svg");
}

.fitnes .catalog-subsection-title::before {
  background-image: url("../images/advantages/fitnes.svg");
}

.smart-watches .catalog-subsection-title::before {
  background-image: url("../images/advantages/smart-watches.svg");
}

.quadrokopters .catalog-subsection-title::before {
  background-image: url("../images/advantages/quadrokopters.svg");
}

/* Информация */
.additional-info {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

#additional-square {
  width: 125px;
  height: 100px;
  background: #ffe17f;
  background-image: url("../images/additional/additional-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.additional-images {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 41.5px;
}

.additional-info-title {
  font-family: "Relaway", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-container {
  flex-grow: 1;
}

/* Сервис */
.services-list {
  margin: 0;
  padding: 0;
  width: 280px;
}

/* О нас и контакты */
.about-us {
  width: 520px;
}

.contacts {
  width: 532px;
}

.contacts-subtitle {
  font-family: "Rubic", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: inherit;
}

.contacts-phone-link {
  color: inherit;

}

.button.delivery-navigation-link {
  font-size: 20px;
  line-height: 24px;
}

.delivery-services-name {
  font-family: "Rubic", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.contact-sections {
  margin-bottom: 70px;
}

/* Подписаться */
.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.newsletter-top-row {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 144px;
}

.newsletter-bottom-row {
  display: flex;
  justify-content: space-between;
}

.newsletter-form-wrapper {
  width: 810px;
}

.newsletter-content {
  width: 560px;
  margin: 0;
}

.newsletter {
  padding-bottom: 56px;
}

/* Каталог */
.main-catalog {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #f0f0f0;
}

.catalog-header,
.product-list-wrapper {
  color: #000000;
  background-color: #ffffff;
}


.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 44px;
}

.catalog-header .section-title {
  margin: 0;
  margin-bottom: 16px;
}

.catalog-header {
  padding: 35px 0;
}

.goods-catalog {
  padding-left: 60px;
}

.product-list-wrapper .pagination {
  color: #444444;
  background-color: #ebebeb;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  margin-right: 36px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sorting-buttons-wrapper button {
  width: 30px;
  height: 30px;
}

.catalog-control-group-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
}

.catalog-filter-title,
.product-card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;

}

.product-card-title {
  margin-top: 32px;
  width: 210px;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.product-card-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;

}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.button.pagination-show-more-button {
  font-size: 16px;
  line-height: 19px;
}

.button.pagination-link {
  font-family: "Rubic", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #444444;
}

.catalog-header {
  padding-left: 60px;
}

.catalog-left-column {
  padding-top: 25px;
  width: 320px;
}

.catalog-right-column {
  width: 840px;
}

.show-more-button-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.pagination-show-more-button {
  flex-grow: 1;
  padding-top: 18px;
  padding-bottom: 15px;
  border: 3px solid #e5e5e5;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.pagination a {
  display: block;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-prev {
  padding: 25px;
}

.pagination-next {
  padding: 25px;
}

.pagination-link {
  padding: 10px 15px;
}

.product-list-wrapper {
  padding: 70px 40px 78px 40px;
}