/* Подключение шрифтов */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

/* Общие стили */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.user-navigation-item,
.main-navigation-item,
.promo-pagination-item,
.product-range-item,
.info-navigation-item,
.footer-item,
.footer-social-item {
  list-style: none;
}

.user-navigation-link,
.main-navigation-link,
.footer-navigation-link {
  position: relative;

  color: #000000;
  text-decoration: none;

  outline: none;
}

.user-navigation-link:hover,
.main-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active,
.main-navigation-link:active {
  opacity: 0.3;
}

.user-navigation-link::after,
.main-navigation-link::after,
.footer-navigation-link::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.user-navigation-link:focus::after,
.main-navigation-link:focus::after,
.footer-navigation-link:focus::after {
  display: block;
}

.main-navigation-link,
.footer-navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.info-title,
.about-title,
.contacts-title,
.subscription-title,
.modal-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.button {
  position: relative;

  display: table-cell;
  height: 40px;
  margin: auto 0;
  padding: 0 40px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-image: linear-gradient(transparent 40%, #ffe17f 40% 60%, transparent 60%);
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ffe17f;
  background-image: none;
}

.button:active {
  background-color: #ffcc33;
  background-image: none;
}

.button:disabled {
  opacity: 0.3;;
}


.button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;

  display: none;
  width: calc(100% - 2px);
  height: calc(100% - 2px);

  border: 2px solid #af4fff;
}

.button:focus::after {
  display: block;
}

/* Шапка */

.page-header {
  width: 1040px;
  margin: 0 auto;
  padding: 17px 60px 0;

  background-image: linear-gradient(#ffffff 39px, #FFE17F 22px);
}

.header-logo {
  position: relative;

  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 30px;

  outline: none;
}

.header-logo-image,
.footer-logo-image {
  display: block;
  object-fit: contain;
}

.header-logo:hover,
.footer-logo:hover {
  opacity: 0.6;
}

.header-logo:active,
.footer-logo:active {
  opacity: 0.3;
}

.header-logo::before,
.footer-logo::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 149px;
  height: 40px;

  border: 2px solid #af4fff;
}

.header-logo:focus::before,
.footer-logo:focus::before {
  display: block;
}

.user-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  margin-bottom: 36px;
}

/* Поиск по сайту */

.search {
  display: flex;
  width: 517px;
  min-height: 40px;

  font-size: 16px;
  line-height: 20px;
}

.search-field-container {
  position: relative;
}

.search-field-container::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -3px;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.search-field-container:focus-within::after {
  display: block;
}

.search-field {
  width: 310px;
  height: 36px;
  padding: 0 0 0 45px;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.027em;

  background-color: transparent;
  background-image: url(../images/glass.svg);
  background-repeat: no-repeat;
  background-position: left 13px center;
  border-color: #000000;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-field:disabled {
  opacity: 0.3;
}

.search-button {
  position: relative;

  width: 160px;
  padding: 0;

  font-size: 16px;
  line-height: 20px;

  background-color: #ffe17f;
  border-color: #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.search-button::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;

  display: none;
  width: 162px;
  height: 42px;

  border: 2px solid #af4fff;
}

.search-button:focus::after {
  display: block;
}

.search-button:disabled {
  opacity: 0.3;
}

/* Пользовательская навигация */

.user-navigation-list {
  display: flex;
  justify-content: space-between;
  width: 496px;
  margin: 0;
  padding: 0;
}

.user-navigation-item-enter {
  width: 230px;
}

.user-navigation-link-enter {
  padding-left: 25px;

  background-color: #ffe17f;
  background-image: url(../images/silhouette.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.user-navigation-item-login {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.user-navigation-link-name {
  padding-left: 25px;

  background-color: #ffe17f;
  background-image: url(../images/silhouette.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.user-navigation-link-exit {
  opacity: 0.3;
}

.user-navigation-link-compare {
  width: 105px;
  padding-left: 22px;

  background-image: url(../images/compare.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.user-navigation-item-basket {
 position: relative;
}

.user-navigation-link-basket {
  padding-left: 42px;

  background-color: #ffe17f;
  background-image: url(../images/basket.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

/* Поповер */

.popover {
  position: absolute;
  top: 30px;
  left: -106px;
  z-index: 1;

  display: none;
  width: 320px;
  min-height: 134px;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.popover-open {
  display: block;
}

.popover-content {
  display: flex;
  height: 100%;

  background-color: #000000;
}

.popover-content::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;

  margin-left: -5px;

  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  padding: 20px;
}

.cart-item-product:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-link {
  display: flex;

  color: #ffffff;
  text-decoration: none;

  cursor: pointer;
}

.cart-item-link-product:hover {
  opacity: 0.6;
}

.cart-item-link-product:active {
  opacity: 0.3;
}

.cart-item-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-close-button {
  position: relative;

  align-self: flex-start;
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #000000;
  border: none;
  cursor: pointer;
}

.popover-close-button:hover {
 opacity: 0.6;
}

.popover-close-button:active {
  opacity: 0.3;
}

.popover-close-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-close-button::before,
.popover-close-button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -1px;

  width: 12px;
  height: 1px;

  background-color: #ffffff;
}

.popover-close-button::before {
  transform: rotate(45deg);
}

.popover-close-button::after {
  transform: rotate(-45deg);
}

.cart-item-title {
  margin: 0;
  margin-left: 23px;
  padding: 0;
}

.cart-item-description {
  height: 44px;
  padding: 0 20px;

  background-color: #1a1a1a;
}

.cart-item-basket-open {
  width: 280px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.cart-item-link-basket {
  width: 280px;
  padding: 14.5px 23px;

  color: #000000;

  background-color: #ffffff;
}

.cart-item-link-basket:hover {
  background-color: #ffe17f;
}

.cart-item-link-basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.cart-item-link-basket:disabled {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

/* Главная навигация */

.main-navigation {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.main-navigation-link {
  padding: 0;

  background-color: #ffe17f;
}

.main-navigation-link-catalog {
  position: relative;
}

.main-navigation-link-catalog:hover,
.main-navigation-link-catalog:hover::before,
.main-navigation-link-catalog:active,
.main-navigation-link-catalog:active::before {
  background-color: #ffe17f;
  opacity: 1;
}

.main-navigation-link-catalog::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -68px;

  width: 46px;
  height: 46px;

  background-color: #ffe17f;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.main-navigation-link-catalog::after {
  content: "";
  position: absolute;
  top: -9px;
  left: -4px;

  display: none;
  width: 293px;
  height: 50px;
  padding: 2px;

  border: 2px solid #af4fff;
}

.main-navigation-link-catalog:focus-within::after {
  display: block;
}

/* Выпадающее меню */


.drop-down-list {
  position: absolute;
  top: 50px;
  z-index: 1;

  display: none;
  width: 1160px;
  height: 155px;
  margin: 0;
  margin-left: -60px;
  padding: 0;

  list-style-type: none;

  background-color: #ffe17f;
}

.drop-down-list-first,
.drop-down-list-second,
.drop-down-list-third {
  display: flex;
  flex-direction: column;

  list-style-type: none;
}

.drop-down-list-first {
  padding-left: 60px;
}

.drop-down-item:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 6px;
}

.drop-down-link {
  position: relative;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;

  outline: none;
}

.drop-down-link:hover {
  opacity: 0.6;
}

.drop-down-link:active {
  opacity: 0.3;
}

.drop-down-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.drop-down-link-current {
  border-bottom: 1px solid #000000;
}

.main-navigation-container:focus-within .drop-down-list {
  display: flex;
}

.main-navigation-container:active .main-navigation-link-catalog::before,
.main-navigation-container:focus-within .main-navigation-link-catalog::before {
  background-color: #ffe17f;
  background-image: url(../images/minus.svg);
  background-position: 15px 21px;
  opacity: 1;
}

/* Конец выпадающего меню */

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 700px;
  margin: 0;
  padding: 0;
}

.main-navigation-link-current {
  border-bottom: 2px solid #000000;
}

.main-navigation-item:not(:last-child) {
  margin-right: 45px;
}

.main-navigation-item:nth-child(4n) {
  margin-right: 0;
}

/* Main */

.main-index {
  flex-grow: 1;
}

/* Промо-блок */

.promo {
  display: block;
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  background-image: linear-gradient(#ffe17f 113px, #ffffff 113px);
}

.promo-block {
  display: flex;
  margin-bottom: 69px;
}

.promo-card {
  position: relative;

  margin-top: -36px;
  margin-right: 40px;
}

.promo-card-left,
.promo-card-right {
  position: absolute;
  top: 210px;

  width: 20px;
  height: 61px;
  padding: 0;

  background-color: transparent;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.promo-card-left {
  left: 30px;
}

.promo-card-right {
  right: 0px;

  transform: rotate(180deg);
}

.promo-card-left:hover,
.promo-card-right:hover {
  opacity: 0.6;
}

.promo-card-left:active,
.promo-card-right:active {
  opacity: 0.3;
}

.promo-card-left:focus,
.promo-card-right:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.promo-card-left:disabled,
.promo-card-right:disabled {
  opacity: 0.1;
}

.promo-image {
  display: block;
  object-fit: contain;
}

.promo-card-description {
  width: 560px;
}

.promo-number {
  margin: 47px 50px 0;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  text-align: end;
  color: #ffffff;
}

.promo-title {
  margin: 8px 0 29px;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.promo-description {
  margin: 0;
  margin-bottom: 51px;
}

.promo-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
}

.promo-pagination-item {
  position: relative;
}

.promo-pagination-item-button {
  margin-right: auto;
}

.promo-pagination-item:not(:first-child) {
  margin-left: 20px;
}

.promo-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 4px;

  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.promo-pagination-button::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.promo-pagination-button-current::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.promo-pagination-button:focus:after,
.promo-pagination-button-current:focus::after {
  display: block;
}

.promo-pagination-button-current {
  background-color: #000000;
}

.promo-pagination-button:hover,
.promo-pagination-button-current:hover {
  opacity: 0.6;
}

.promo-pagination-button:active,
.promo-pagination-button-current:active {
  opacity: 0.3;
}

.promo-pagination-button:disabled {
  opacity: 0.1;
}

.promo-table {
  border-spacing: 0;
}

.promo-table-big {
  padding-bottom: 12px;

  font-size: 36px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

.promo-table-big:not(:last-child) {
  padding-right: 20px;
}

.promo-table-small {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.promo-table-small:not(:last-child) {
  padding-right: 20px;
}


/* Сортировка продуктов */

.product-range {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
}

.product-range-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
}

.product-range-item {
  width: 160px;
}

.product-range-button {
  width: 160px;
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-range-span {
  position: relative;

  display: block;
  width: 160px;
  margin-bottom: 12px;
  padding-top: 193px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
  letter-spacing: -0.02em;
}

.product-range-span-virtual::before,
.product-range-span-monopod::before,
.product-range-span-action::before,
.product-range-span-fitness::before,
.product-range-span-smart::before,
.product-range-span-dron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 160px;
  height: 160px;

  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center center;
}

.product-range-span-virtual::before {
  background-image: url(../images/virtual.svg);
}

.product-range-span-monopod::before {
  background-image: url(../images/monopod.svg);
  background-position: center 45px;
}

.product-range-span-action::before {
  background-image: url(../images/action_camera.svg);
}

.product-range-span-fitness::before {
  background-image: url(../images/fitness.svg);
}

.product-range-span-smart::before {
  background-image: url(../images/smart_clock.svg);
}

.product-range-span-dron::before {
  background-image: url(../images/dron.svg);
}

.product-range-span:hover::before {
  background-color: #ffc700;
}

.product-range-button:active {
  opacity: 0.3;
}

.product-range-button:active::before {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.6;
}

.product-range-span::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 164px;
  height: 257px;

  border: 2px solid #af4fff;
}

.product-range-button:focus .product-range-span::after {
  display: block;
}

/* Блок информации */

.info {
  min-width: 1160px;
  margin-bottom: 70px;
  padding-bottom: 72px;

  background-image: linear-gradient(#ffffff 102px, #f0f0f0 102px);
}

.info-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.info-navigation-list {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0;
  margin-right: 116px;
  padding: 65px 0;

  list-style-type: none;

  border-right: 7px solid #000000;

}

.info-navigation-item:not(:last-child) {
  margin-bottom: 35px;
}

.info-navigation-link {
  width: 160px;
  padding: 0;
}

.info-navigation-link-current {
  display: table-cell;
  width: 160px;
  padding-right: 120px;

  vertical-align: middle;
  color: #ffe17f;

  background-color: #000000;
  background-image: none;
}

.info-navigation-link-current:hover {
  color: rgba(255, 255, 127, 0.5);

  background-color: #000000;
  background-image: none;
}

.info-navigation-link-current:active {
  color: rgba(255, 255, 127, 0.3);

  background-color: #000000;
  background-image: none;
}

.info-navigation-link-current::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.info-navigation-link-current:focus::after {
  display: block;
}

.info-container-right {
  width: 558px;
  margin-top: 72px;
}

.delivery,
.guarantee,
.credit {
  position: relative;

  width: 480px;
}

.info-title {
  margin: 0;
  margin-bottom: 34px;
}

.info-description {
  margin: 0;
  padding: 0;
}

.delivery::after,
.guarantee::after,
.credit::after {
  content: "";
  position: absolute;
  left: 558px;
}

.delivery::after {
  top: 5px;

  width: 136px;
  height: 164px;

  background-image: url(../images/delivery.png);
}

.guarantee::after {
  top: -18px;

  width: 171px;
  height: 195px;

  background-image: url(../images/guarantee.png);
}

.credit::after {
  top: -15px;

  width: 156px;
  height: 188px;

  background-image: url(../images/credit.png);
}

/* Доставим редкий товар под заказ */

.info-rare-product {
  position: relative;

  width: 1160px;
  margin: 0 auto;
}

.info-delivery {
  position: relative;

  display: block;
  width: 910px;
  min-height: 100px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 125px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 100px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: #f0f0f0;
  outline: none;
  cursor: pointer;
}

.info-delivery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 125px;
  height: 100px;

  background-color: #FFE17F;
  background-image: url(../images/truck.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.info-delivery::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 125px;
  height: 100px;

  background-image: url(../images/i_letter_opacity.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.info-delivery:hover::before {
  background-color: #ffc700;
}

.info-delivery:hover::after {
  background-image: url(../images/i_letter_bright.svg);
}

.info-delivery:active::before,
.info-delivery:active,
.info-delivery:active::after {
  opacity: 0.5;
}

.info-rare-product::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 1160px;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.info-rare-product:focus-within::after {
  display: block;
}

/* О нас контакты */

.about-contacts-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 69px;
}

.about,
.contacts {
  position: relative;

  width: 520px;
}

.about {
  margin-right: 110px;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 84px;
  height: 7px;

  background-color: #000000;
}

.about-title,
.contacts-title {
  margin-top: 47px;
  margin-bottom: 48px;
}

.about-description,
.contacts-description {
  margin-bottom: 30px;
}


.about-list {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 36px;

  list-style-type: none;
}

.about-item {
  position: relative;

  margin-bottom: 19px;

  color: #FFC700;

  background-color: #ffffff;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -34px;

  width: 8px;
  height: 8px;

  background-color: #ffc700;
  border-radius: 50%;
}

.about-span {
  display: block;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.02em;

  background-color: #ffffff;
}

.about-link {
  padding: 0 24px;
}

.contacts-span {
  display: block;
  margin-bottom: 15px;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts-address {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-phone {
  color: #444444;

  background-color: #ffffff;
}

.contacts-work-clock {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-link {
  padding: 0 31px;
}

/* Подписка */

.subscription-container {
  min-width: 1160px;
  padding-bottom: 57px;

  background-color: #f0f0f0;
}

.subscription {
  width: 1160px;
  margin: 0 auto;
}

.subscription-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 143px;
  padding-top: 65px;
}

.subscription-title {
  width: 348px;
  margin: 0;
  padding-left: 7px;
}

.subscription-discription {
  width: 553px;
  margin: 0;
  padding-bottom: 2px;
}

.subscription-form {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.subscription-field {
  display: block;
  width: 540px;
  padding: 13px 0 10px 17px;

  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.02em;

  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid #cecece;
}

.subscription-field:focus {
  background-color: #dcdcdc;
  outline: none;
}

.subscription-field:invalid {
  border-color: #c4c4c4;
  opacity: 0.5;
}

.subscription-field:disabled {
  border-color: #ff3d3d;
}

.subscription-button {
  width: 253px;
  padding: 14px 36px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: 3px solid #cecece;
  cursor: pointer;
}

.subscription-mark {
  position: relative;

  margin-left: auto;
  padding-left: 20px;
}

.subscription-mark::before {
  content: "";

  display: inline-block;
  width: 14px;
  height: 14px;
  padding-right: 17px;

  background-image: url(../images/mark.svg);
  background-repeat: no-repeat;
}

/* Подвал */

.page-footer {
  min-width: 1160px;

  color: #ffffff;

  background-color: #444444;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding: 61px 0;
}

.footer-logo {
  position: relative;

  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 35px;

  outline: none;
}

.footer-navigation-container {
  display: flex;
  margin-bottom: 47px;
}

.footer-address {
  width: 239px;
  margin: 0;
  margin-right: 112px;

  font-size: 16px;
  line-height: 20px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-item:not(:last-child) {
  margin-right: 32px;
}

.footer-navigation-link {
  color: #ffffff;

  background-color: #444444;
}

.footer-navigation-link:hover {
  color: #ffc700;

  border-bottom: 2px solid #ffc700;
}

.footer-navigation-link:active {
  color: #ffc700;

  border-bottom: 2px solid #ffc700;
  opacity: 0.6;
}

.footer-phone {
  margin-top: 8px;
  margin-left: auto;

  font-size: 16px;
  line-height: 20px;
  text-align: end;
  color: #ffffff;

  background-color: #444444;
  outline: none;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:active {
  color: #ffc700;

  opacity: 0.6;
}

.footer-phone::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.footer-phone:focus::after {
  display: block;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  position: relative;

  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 930px;
  margin: 0;
  margin-left: 115px;
  padding: 0;
}

.footer-social-item {
  position: relative;

  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  outline: none;
}

.footer-social::before {
  content: "";
  position: absolute;
  top: 17px;

  width: 80px;
  height: 7px;

  background-color: #FFC700;
}

.footer-social-facebook {
  display: block;
  object-fit: contain;

  padding: 11px 16px;
}

.footer-social-instagram {
  display: block;
  object-fit: contain;

  padding: 12px;
}

.footer-social-twitter {
  display: block;
  object-fit: contain;

  padding: 13px;
}

.footer-social-item:hover {
  background-color: #ffc700;
}

.footer-social-item:active .footer-social-image {
  opacity: 0.6;
}

.footer-social-item::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.footer-social-item:focus-within::after {
  display: block;
}

.htmlacademy-link {
  position: relative;

  display: table-cell;
  height: 33px;
  margin-top: 3px;

  vertical-align: middle;

  outline: none;
  fill: #ffc700;
}

.htmlacademy-link:hover {
  fill: #ffffff;
}

.htmlacademy-link:active {
  fill: rgba(255, 255, 255, 0.3);;
}

.htmlacademy-link::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 1px;

  border: 1px solid #af4fff;
}

.htmlacademy-link:focus::after {
  display: block;
}

  /* Стили для каталога */

/* Внутренний заголовок */

.main-catalog {
  flex-grow: 1;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.inner-header-title {
  margin: 0;
  padding: 35px 0 16px 60px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 60px;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-item {
  position: relative;

  list-style: none;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url(../images/small_right_arrow.svg);
  opacity: 0.3;
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;

  outline: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.breadcrumbs-link:focus::after {
  display: block;
}


/* Каталог */

.catalog-products {
  color: #000000;

  background-color: #f0f0f0;
}

.catalog-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-wrapper {
  width: 200px;
  padding: 0 60px;
}

.title-filter {
  margin: 0;
  padding: 25px 0;
}

/* Фильтр */

.catalog-filter {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
}

.catalog-filter-container {
  border-top: 2px solid #000000;
}

.catalog-filter-group {
  width: 200px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  border: none;
}

.catalog-filter-title {
  display: block;
  padding: 12px 0;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/* Фильтр-стоимость */

.catalog-filter-title-price {
  margin-bottom: 16px;
}

.catalog-filter-range {
  position: relative;

  height: 2px;
  margin-bottom: 16px;

  background-color: #dcdcdc;
  border-radius: 2px;
}

.catalog-filter-range-bar {
  position: absolute;

  height: 2px;

  background-color: #000000;
}

.catalog-filter-range-toggle {
  position: absolute;
  top: -8px;

  width: 18px;
  height: 18px;

  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.catalog-filter-range-toggle:hover {
  border: 2px solid #444444;
}

.catalog-filter-range-toggle:active {
  background-color: #000000;
  border: 2px solid #000000;
}

.catalog-filter-range-toggle::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 3px;

  border: 2px solid #af4fff;
}

.catalog-filter-range-toggle:focus::after {
  display: block;
}

.catalog-filter-toggle-min {
  left: -10px;
}

.catalog-filter-toggle-max {
  right: -10px;
}

.catalog-filter-label,
.catalog-filter-range-input {
  max-width: 60px;
  margin: 0;
  padding: 0;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  color: #cccccc;

  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.catalog-filter-label {
  position: absolute;
  top: 20px;

  display: flex;
}

.catalog-filter-range-input {
  -moz-appearance: textfield;
}

.catalog-filter-range-input::-webkit-outer-spin-button,
.catalog-filter-range-input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.catalog-filter-range-input:hover,
.catalog-filter-range-input:focus {
  -moz-appearance: number-input;
}

.catalog-filter-label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.catalog-filter-label:focus-within::after {
  display: block;
}

.catalog-filter-label-left {
  left: -16px;
}

.catalog-filter-label-right {
  right: -30px;
}

/* Фильтр-цвет */

.catalog-filter-group-color {
  margin-bottom: 21px;
}

.catalog-filter-title-color {
  margin-bottom: 3px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-filter-control {
  position: relative;

  display: block;
  margin-bottom: 7px;
  padding-left: 36px;

  cursor: pointer;
}

.catalog-filter-control:hover {
  opacity: 0.6;
}

.catalog-filter-control:active {
  opacity: 0.3;
}

.catalog-filter-control:disabled {
  opacity: 0.1;
}

.catalog-filter-control:focus-within .catalog-filter-control-mark::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;
  padding: 4px;

  border: 2px solid #af4fff;
}

.catalog-filter-control-input {
  margin: 0;
  padding: 0;

  color: #000000;
}

.catalog-filter-control-input[type="checkbox"]:checked + .catalog-filter-control-mark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;

  width: 10px;
  height: 10px;

  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
}

.catalog-filter-control-mark {
  position: absolute;
  top: 5px;
  left: 0;

  width: 16px;
  height: 16px;

  border: 2px solid #cccccc;
  border-radius: 3px;
}

.catalog-filter-control-input[type="checkbox"]:checked + .catalog-filter-control-mark {
  border-color: #000000;
}

.catalog-filter-control-label {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

/* Фильтр-bluetooth */

.catalog-filter-group-bluetooth {
  margin-bottom: 28px;
}

.catalog-filter-title-bluetooth {
  margin-bottom: 3px;
}

.catalog-filter-control-input[type="radio"] + .catalog-filter-control-mark {
  border-radius: 50%;
}

.catalog-filter-control-input[type="radio"]:checked + .catalog-filter-control-mark {
  border-color: #000000;
}

.catalog-filter-control-input[type="radio"]:checked + .catalog-filter-control-mark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 8px;
  height: 8px;

  background-color: #242424;
  border-radius: 50%;
}

.catalog-filter-button {
  width: 220px;
  padding: 0 50px;
}

/* Сортировка */

.catalog-container-sort {
  background-color: #ffffff;
}

.catalog-sort-header {
  display: flex;
  align-items: center;
  width: 760px;
  height: 70px;
  padding: 0 40px;

  background-color: #f0f0f0;
}

.catalog-products-title {
  margin: 0;
  margin-right: 190px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.select-control {
  width: 160px;
  width: 159px;
  height: 30px;
  margin-right: auto;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  list-style: none;

  background-color: #f0f0f0;
  border: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.select-control:disabled {
  opacity: 0.1;
}

.sort-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item {
  position: relative;
}

.sort-item::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.button-sort {
  position: relative;

  display: table-cell;
  width: 30px;
  height: 30px;
  margin: auto 0;
  padding: 0;

  vertical-align: middle;

  background-image: url(../images/sort_up.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.button-sort-down {
  transform: rotate(180deg);
}

.button-sort:hover {
  opacity: 0.6;
}

.button-sort:active {
  opacity: 1;
}

.sort-item:focus-within::after {
  display: block;
}

/* product-container */

.product-container {
  width: 760px;
  padding: 70px 40px 78px;
}

.product-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
}

.product-card {
  position: relative;
}

.product-card-image {
  display: block;
  object-fit: contain;

  margin-bottom: 32px;
}

.product-card-link {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;

  outline: none;
}

.product-card-link::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.product-card-more {
  position: absolute;
  top: 170px;
  left: 70px;

  display: none;
  align-items: center;
  height: 40px;
  padding: 0 40px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-image: linear-gradient(transparent 6px, #ffe17f 6px 14px, transparent 14px);
  border: none;
  outline: none;
  cursor: pointer;
}

.product-card-link:hover .product-card-image,
.product-card-link:hover .product-card-description {
  opacity: 0.6;
}

.product-card-link:hover .product-card-more {
  display: block;
}

.product-card-link:active .product-card-more {
  background-image: linear-gradient(transparent 6px, #ffc700 6px 14px, transparent 14px);
}

.product-card-link:focus::after {
  display: block;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card-title {
  width: 225px;
  margin: 0;
  padding-right: 20px;
}

.product-card-price {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #444444;
}

.product-card-new {
  position: absolute;
  top: 28px;
  right: 25px;

  padding: 20px 7px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.6;
}

.pagination-show-more {
  grid-column: 1/ -1;

  position: relative;
}

.pagination-show-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 754px;
  height: 49px;
  padding: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: #ffffff;
  border: 3px solid #e5e5e5;
  outline: none;
  cursor: pointer;
}

.pagination-show-more-button:hover {
  border-color: #000000;
}

.pagination-show-more-button:active {
  border-color: #000000;
  opacity: 0.3;
}

.pagination-show-more-button::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;

  border: 2px solid #af4fff;
}

.pagination-show-more-button:focus::after {
  display: block;
}

.pagination-show-more-button:disabled {
  opacity: 0.3;
}

/* Пагинация */

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  min-height: 71px;
  padding: 0;

  background-color: #ebebeb;
  grid-column: 1/ -1;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-prev,
.pagination-next {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 71px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  outline: none;
  cursor: pointer;
}

.pagination-prev {
  width: 128px;
}

.pagination-next {
  width: 141px;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-prev:active,
.pagination-next:active {
  opacity: 0.3;
}

.pagination-prev:focus,
.pagination-next:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-prev:disabled,
.pagination-next:disabled {
  opacity: 0.1;
}

.pagination-link {
  display: block;
  width: 40px;
  height: 40px;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;

  cursor: pointer;
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-item:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-link-current {
  color: rgba(68, 68, 68, 0.6);
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0%;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(240, 240, 240, 0.9);
}

.modal-container-open {
  display: block;
}

.modal {
  position: relative;
  top: 20%;

  box-sizing: border-box;
  width: 920px;
  margin: auto;
  padding: 62px 70px;

  color: #000000;

  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.modal-title {
  margin: 0;
  padding: 0;
}

.modal-close-button {
  position: relative;
  top: 10px;
  left: 0;

  width: 26px;
  height: 26px;

  background-color: transparent;
  border: none;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -3px;

  width: 33px;
  height: 2px;

  background-color: #000000;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-group-name,
.field-group-delivery {
  margin-bottom: 42px;
}

.field-group-label {
  margin-bottom: 14px;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.form-field {
  height: 60px;
  padding: 0 20px;

  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: none;
  fill: #b3b3b3;
}

.form-field::placeholder {
  font-size: 16px;
  line-height: 20px;
}

.form-field:hover {
  background-color: #dcdcdc;
}

.form-field:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.form-field:disabled {
  opacity: 0.3;
}

.form-field:invalid {
  outline: 2px solid #ff3d3d;
}

.form-field:invalid + .form-field-description {
  color: #ff3d3d;
}

.form-field-name {
  background-image: url(../images/silhouette_light.svg);
}

.form-field-mail {
  background-image: url(../images/mail.svg);
}


.form-field-description {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.field-group-name {
  width: 360px;
  margin-right: 40px;
}

.field-group-mail {
  width: 360px;
}

.field-group-delivery {
  width: 540px;
  margin-right: 40px;
}

.field-number-group {
  display: flex;
  width: 180px;
}

.label-tooltip-container {
  position: relative;
  z-index: 2;

  display: flex;
}

.field-group-info {
  position: relative;
  top: -4px;

  width: 26px;
  height: 26px;
  margin-left: 8px;
  padding: 0;

  background-color: #ffe17f;
  background-image: url(../images/i_letter.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 50%;
  outline: none;
}

.tooltip {
  position: absolute;
  top: 38px;
  right: -34px;
  z-index: 1;

  display: none;
  width: 162px;
  height: 122px;
  margin: 0;
  padding: 19px;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;

  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.tooltip::before {
  content: " ";
  position: absolute;
  right: 42px;
  bottom: 100%;

  margin-left: -5px;

  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.field-group-info:hover .tooltip,
.field-group-info:focus .tooltip {
  display: block;
}

.field-quantity {
  position: relative;

  display: flex;
  width: 180px;
}

.form-field-quantity {
  position: relative;

  width: 180px;
  padding: 0;

  text-align: center;

  -moz-appearance: textfield;
}

.form-field-quantity::-webkit-outer-spin-button,
.form-field-quantity::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.form-field-quantity:hover,
.form-field-quantity:focus {
  -moz-appearance: number-input;
}

.form-field-quantity::placeholder {
  color: #000000;
}

.button-minus,
.button-plus {
  position: absolute;

  width: 60px;
  height: 60px;
  padding: 0;

  border: none;
  outline: none;
  cursor: pointer;
}

.button-minus {
  z-index: 1;

  background-image: url(../images/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-plus {
  right: 0;

  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-minus:hover,
.button-plus:hover {
  opacity: 0.6;
}

.button-minus:active,
.button-plus:active {
  opacity: 0.3;
}

.button-minus:focus,
.button-plus:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-minus:disabled,
.button-plus:disabled {
  opacity: 0.1;
}

.modal-button {
  width: 200px;
  padding: 0 30px;

  background-color: transparent;
}
